<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Calendario</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  
  
      <link rel="stylesheet" href="css/stylecalendario.css">

  
</head>

<body>
  <html ng-app='calendarApp' ng-cloak='true'></html>
<div class='calendar' ng-controller='calendarController as calendar'>
  <div class='calendar_left'>
    <div class='header'>
      <i class='material-icons' ng-click='calendar.prev()'>navigate_before</i>
      <h1>{{calendar.month}}</h1>
      <i class='material-icons' ng-click='calendar.next()'>navigate_next</i>
    </div>
    <div class='days'>
      <div class='day_item'>Lun</div>
      <div class='day_item'>Mar</div>
      <div class='day_item'>Mie</div>
      <div class='day_item'>Jue</div>
      <div class='day_item'>Vie</div>
      <div class='day_item'>Sab</div>
      <div class='day_item'>Dom</div>
    </div>
    <div class='dates'></div>
  </div>
  <div class='calendar_right'>
    <div class='list'>
      <ul>
        <li class='bounce-in' ng-repeat='events in calendar.events' ng-show='events.id === calendar.dataId'>
          <span class='type'>It's a {{ events.type }} thing -</span>
          <span class='description'>{{ events.description }}</span>
        </li>
      </ul>
    </div>
    <form ng-submit='calendar.add()'>
      <input ng-model='calendar.description' placeholder='Que es lo que haras este dia' type='text'>
        <select ng-model='calendar.type' placeholder='calendar.type'>
          <option value='Administrador'>Administrador</option>
          <option value='Invitado'>Invitado</option>
        </select>
      </input>
    </form>
  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://code.angularjs.org/1.3.14/angular-animate.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
