.wraptocenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 600px;
  background-color: #999;
}
.wraptocenter * {
  vertical-align: middle;
}
html, body{

	height:100%;
}
body{
padding:0!important; 
    margin:0 !important;

background: url("https://static.pexels.com/photos/374073/pexels-photo-374073.jpeg") no-repeat center center;


 background-size: 110% 180%;

justify-content: center;

}
.container{
height:100%;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}
.headbar{
width:100%;
  height: 100px;
  position: absolute;
  top: 5%;
  left: 0%;
  margin-top: -50px;

  background: #C95B00;
}
.centerbar{
 width: 600px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 30%;
  margin-top: -50px;
  margin-left: -50px;
  background: orange;

}
.underbar{	
 width: 100%;
  height: 300px;
  position: absolute;
  top: 90%;
  left:0%;
  margin-top: -50px;
 opacity: 0.9;
    filter: alpha(opacity=90);
  background: black;
}
.leftbar{
 width: 50%;
  height: 110%;
  position: absolute;
  top: 20%;
  left:0%;
  margin-top: -50px;

  background: #00C0FF;
}

.rightbar{
 width: 50%;
  height: 110%;
  position: absolute;
  top: 20%;
  left:50%;
  margin-top: -50px;

  background: #FF8100;
}

.subrightbar{
 width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  left:0%;
  margin-top: -50px;

}
.carouselblock{
 width: 90%;
  height: 90%;
  position: absolute;
  top: 0%;
  left:0%;
  margin-top: 20px;
  margin-left: 30px;
 
}
.bigbar{
 width: 100%;
  height: 110%;
  position: absolute;
  top: 20%;
  left:0%;
  margin-top: -50px;